<h2>Stupid Coaching </h2>

  <p> Ask your coach anything:</p>
    <form action="/answer" method="get" data-turbo="false" class="input-group mb-3">
      <input type="text" name="question"  placeholder="What do you want to know?" id ="field" class="form-control" >
      <input type="submit" value="Ask" id ="primary" class="btn btn-primary btn-outline-secondary">
    </form>
